:root {
  --color-principal: #ff5a5f;
  --color-primary-hover: #d64246;
  --color-verde: #04a75b;
  --color-negro: #444a47;
  --color-fondo: #f7f9fd;
  --color-footer: #151515;
}

*,
::after,
::before {
  box-sizing: border-box;
}

* {
  padding: 0px;
  margin: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

.hm-wrapper {
  position: relative;
}

.hm-wrapper,
body {
  min-height: 100%;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  vertical-align: middle;
  border-style: none;
}

.bg-fondo {
  background: var(--color-fondo);
}

.container {
  width: 1122px;
  padding: 0 15px;
  margin: 0 auto;
}

@media screen and (min-width: 1px) {
  .container {
    width: auto;
    max-width: 1122px !important;
  }
}

.uppercase {
  text-transform: uppercase !important;
}

/*=================================
      ESTILOS: categories
  ==================================*/
.hm-page-block {
  position: relative;
  padding: 60px 0px;
}

.header-title {
  margin-bottom: 50px;
}

.header-title h1 {
  color: var(--color-negro);
  position: relative;
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  padding-bottom: 16px;
}

.header-title h1::after {
  content: "";
  width: 76px;
  height: 5px;
  background: var(--color-principal);
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  border-radius: 3px;
}

.hm-grid-category,
.grid-product {
  display: grid;
  grid-template-columns: repeat(4, calc(25% - 2rem * 3 / 4));
  row-gap: 2rem;
  column-gap: 2rem;
  max-width: 1122px;
}

.hm-grid-category .grid-item {
  position: relative;
  border-radius: 5px;
  overflow: hidden;
  max-height: 360px;
}

.hm-grid-category .grid-item img,
.grid-product .product-item .p-portada img {
  transition: all 0.3s ease-in;
}

.hm-grid-category .grid-item img:hover,
.grid-product .product-item .p-portada img:hover {
  transform: scale(1.07);
}

.hm-grid-category .grid-item:hover .c-info {
  transform: translateY(0%);
}

.hm-grid-category .grid-item .c-info {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  color: #fff;
  padding: 20px;
  background: rgba(0, 0, 0, 40%);
  transform: translateY(100%);
  transition: all 0.3s ease-in;
}

.hm-grid-category .grid-item .c-info h3 {
  font-size: 16px;
  font-weight: 400;
  text-align: center;
}
